section#about #faq {
  width: 70%;
  margin: 4em auto 0;
  h2 {
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .question {
    position: relative;
    h3 {
      font-size: 1.375em;
      font-weight: 900;
      margin-bottom: 1em;
      padding: .35em 0 .25em;
      padding-right: 3em;
      border-top: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
      display: block;
      cursor: pointer;
      user-select: none;
      color: $primary-color;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        border: none;
        color: $primary-color;
        float: right;
        font-size: 1.2em;
        margin-right: .3em;
        padding-bottom: .2em;
        margin-top: -.1em;
      }
    }
    &.less {
      p {
        display: none;
      }
      h3:after {
        content: '+';
      }
    }
    &.more {
      margin-bottom: 1.3em;
      h3:after {
        content: '-';
      }
    }
    p {
      font-size: 1.063em;
      line-height: 1.938em;
    }
  }
  .component__bubble {
    transform: translate(-55%, -70%) rotate(186deg);
  }
}
