<div id="faq">
  <h2><%= t('about.faq.name') %></h2>
  <% t('about.faq.description').each_with_index do |q, i| %>
    <div class="question <%= i == 0 ? "more" : "less" %>">
      <h3><%= q[:question] %></h3>
      <div>
        <% q[:answer].each do |a| %>
          <p><%= a %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="component__bubble bubble-2 left"></div>
</div>
