header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  padding: 1.5em 0;
  padding-left: 50%;
  padding-right: 20%;
  justify-content: space-between;
  align-items: center;
  #logo {
    height: 2.8em;
    transform: translateX(-50%);
  }
  a {
    text-decoration: none;
  }
  .snipcart-checkout {
    display: flex;
    align-items: center;
  }
  .snipcart-checkout-icon {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 5px;
    background-image: image_url('icons/cart.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
