/***********************
* COLORS
***********************/

$primary-color: #8EE3CA;

$primary-gradient: linear-gradient(-221deg, #8EE3CA 0%, #8AE7DE 60%, rgba(135,227,236,0.72) 100%);

$black: #000;
$buy-button: #FC5143;

/***********************
* FONTS
***********************/

$primary-font: 'HKConcentrate', 'Helvetica Neue', 'Helvetica', sans-serif;
