@import 'misc/fonts';
@import 'misc/vars';
@import 'misc/reset';

@import 'partials/header';
@import 'partials/footer';
@import 'components/index';
@import 'snipcart/index';
@import 'pages/index';

body {
  color: $black;
  font-family: $primary-font;
}
::selection {
  background: $primary-color;
}
a {
  color: $primary-color;
}
section {
  margin-top: 6em;
}
