@import 'partials/fonts';
@import 'partials/vars';

@import 'misc/reset';
@import 'partials/index';
@import 'components/index';
@import 'snipcart/index';
@import 'pages/index';

body {
  color: $black;
  font-family: $primary-font;
}
::selection {
  background: $primary-color;
}
a {
  color: $black;
}
section {
  margin-top: 6em!important;
}
