---
slug: contact
footer: false
---

<section id="contact">
  <h1>Contact</h1>
  <div class="bubble">
    <div class="info">
      <h2>Capsule</h2>
      <%= mail_to 'contact@capsule-bordeaux.fr' %>
    </div>
    <div class="info">
      <h2>Créateur</h2>
      <%= mail_to 'creator@capsule-bordeaux.fr' %>
    </div>
  </div>
</section>
