.btn {
  display: inline-block;
  outline: none;
  appearance: none;
  padding: .9em 1.75em;
  border: none;
  border-radius: 3em;
  font-size: 1.1em;
  transition: 0.2s;
  background-color: #000;
  cursor: pointer;
  text-align: center;
  &:hover {
    box-shadow: inset 0 0 0 0.2em #fff, 0 0 0 0.2em #000;
  }
  &-main {
    background-color: $primary-color;
    &:hover {
      box-shadow: inset 0 0 0 0.2em #fff, 0 0 0 0.2em $primary-color;
    }
  }
  &-outline {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    &-white {
      border-color: #FFF;
      color: #FFF;
    }
    &:hover {
      box-shadow: inset 0 0 0 0.1em #fff;
    }
  }
}
