.component__product-how-many,
.snip-quantity-trigger {
  display: flex;
  width: 6em;
  align-items: center;
  justify-content: space-between;
  button,
  .snip-quantity-trigger__btn {
    appearance: none;
    border: none;
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    background-color: #FFF;
    cursor: pointer;
    &:before {
      content: '';
      display: none;
    }
    &.more,
    &.snip-quantity-trigger__btn--add {
      background-image: image_url('icons/buy/more.svg');
    }
    &.less,
    &.snip-quantity-trigger__btn--minus {
      background-image: image_url('icons/buy/less.svg');
    }
    &.max {
      opacity: .6;
    }
  }
}
