.product-image {
  position: relative;
  img {
    display: none;
    width: 200px;
    height: 200px;
    &.select {
      display: inline-block;
    }
  }
  #select {
    width: auto;
    margin: 0 auto;
    .dot {
      display: inline-block;
      width: 1.6em;
      height: 1.6em;
      background-color: transparent;
      border-radius: 100%;
      margin: .5em .2em;
      box-shadow: inset 0 0 0 0.3em #000, 0 0 0 0.1em #fff;
      transition: .2s;
      cursor: pointer;
      &:hover,
      &.select {
        background-color: #FFF;
      }
    }
  }
}
