section#homepage #bubble {
  min-width: 300px;
  padding: 3em 2em 5em;
  background-image: image_url('bubble.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  overflow: hidden;
  .main-product {
    display: block;
  }
  .btn {
    font-weight: bold;
    margin: 0 auto;
    min-width: 280px;
    transform: translateX(1em);
  }
  @media #{$classicScreen} {
    .btn {
      min-width: 230px;
    }
  }
  @media #{$bigTablet} {
    .btn {
      bottom: 12%;
      min-width: 180px;
    }
  }
}
