section#homepage #bubble {
  width: 38%;
  margin: 3.65em auto 0;
  position: relative;
  #blob {
    margin-top: 3.5em;
    .cls-1 {
      isolation: isolate;
    }
    .cls-2 {
      mix-blend-mode: multiply;
    }
    .cls-3 {
      fill: #80d1f1;
    }
    .cls-4 {
      fill: #95b6fb;
    }
  }
  .main-product {
    position: absolute;
    top: 0;
    margin: 50%;
    transform: translate(-40%, -50%);
  }
  .btn {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-40%);
    font-weight: bold;
    width: 45%;
  }
}
