section#homepage #concept {
  margin-top: 2.9em;
  padding: 3.35em;
  padding-left: 12em;
  background-color: $soft-white;
  width: 55%;
  h2 {
    padding-bottom: .2em;
  }
  .paragraph {
    margin-top: 1.9em;
    line-height: 1.95em;
    text-align: justify;
  }
}
