section#homepage #creator {
  h2 {
    margin: 3em 0 2em 5em;
  }
  .block {
    padding: 1.5em 4em;
    padding-left: 10em;
    width: 40%;
    background: $primary-gradient;
    text-align: center;
    position: relative;
    color: #FFF;
    .below-image {
      position: absolute;
    }
    h3 {
      font-size: 3.250em;
      font-weight: bold;
      margin-bottom: .45em;
      text-align: left;
    }
    p {
      line-height: 2em;
      font-size: 1.250em;
      width: 95%;
      text-align: left;
    }
    .btn {
      margin-top: .5em;
    }
    &.creator {
      float: right;
      margin-bottom: 9em;
      .details {
        order: 2;
      }
      .below-image {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) scale(1.1);
        order: 1;
      }
    }
    &.product {
      float: left;
      .details {
        order: 1;
      }
      .below-image {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) scale(1.1);
        order: 2;
      }
    }
  }
  @media #{$classicTablet} {
    .block {
      float: none!important;
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 2em;
      padding-right: 2em;
      .below-image {
        position: inherit;
        transform: inherit!important;
        padding-left: 1em;
        padding-right: 1em;
      }
      .details {
        width: 60%;
      }
      p {
        margin-right: 0;
      }
      .btn {
        margin-top: 1.5em;
      }
    }
  }
  @media #{$mediumPhone} {
    .block {
      flex-wrap: wrap;
    }
    .block .below-image {
      margin: 1.5em auto;
    }
  }
}
