@import 'partials/about-creator/text-grid';

section#creator {
  h1 {
    font-size: 3.250em;
    font-weight: 900;
    text-transform: uppercase;
    width: 67%;
    margin: 0 auto;
  }
  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    margin: 8em auto 3em;
  }
  @media #{$bigTablet} {
    h1 {
      width: 90%;
    }
    .container {
      width: 100%;
      font-size: .85em;
      margin-right: 0;
      margin-left: 0;
      &-img-right .text,
      &-img-left .text {
        padding-right: 4.375em;
        padding-left: 4.375em;
      }
    }
  }
  @media #{$classicTablet} {
    .container {
      flex-wrap: wrap;
      .text {
        width: 100%;
        order: 1;
      }
      img {
        margin: 0 auto;
        order: 2;
      }
    }
  }
  @media #{$classicPhone} {
    .socials {
      flex-wrap: wrap;
      flex-direction: column;
      margin: 2em auto 0;
      a {
        margin-bottom: 1.2em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
