section#creator {
  h1 {
    font-size: 3.250em;
    font-weight: 900;
    text-transform: uppercase;
    width: 67%;
    margin: 0 auto;
  }
  p {
    font-size: 1.250em;
    line-height: 1.656em;
    margin-top: .5em;
    margin-bottom: 1.5em;
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3em 0 6.5em;
    .text {
      width: auto;
      background: $soft-white;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    img {
      width: 45%;
      margin-top: 2em;
    }
    &-img-right {
      .text {
        padding-left: 13%;
        padding-right: 4.375em;
      }
    }
    &-img-left {
      .text {
        padding-right: 13%;
        padding-left: 4.375em;
      }
    }
  }
  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    margin: 8em auto 3em;
    a {
      font-size: 1.3em;
      font-weight: 900;
      display: inline-block;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        padding: 1px;
        background-color: $primary-color;
        transform: translateX(-101%);
        transition: transform 0.6s ease-in-out;
      }
      &:hover {
        color: $primary-color;
        &::after {
          z-index: 20;
          transform: translateX(101%);
        }
      }
    }
  }
  @media #{$bigTablet} {
    h1 {
      width: 90%;
    }
    .container {
      width: 100%;
      font-size: .85em;
      margin-right: 0;
      margin-left: 0;
      &-img-right .text,
      &-img-left .text {
        padding-right: 4.375em;
        padding-left: 4.375em;
      }
    }
  }
  @media #{$classicTablet} {
    .container {
      flex-wrap: wrap;
      .text {
        width: 100%;
        order: 1;
      }
      img {
        margin: 0 auto;
        order: 2;
      }
    }
  }
}
