@import "partials/homepage/bubble";
@import "partials/homepage/concept";
@import "partials/homepage/informations";
@import "partials/homepage/creator";
section#homepage {
  margin-top: 15em;
  h1 {
    font-size: 1.875em;
    font-weight: bold;
    line-height: 1.35em;
    z-index: 1;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 2.500em;
    font-weight: 900;
    text-transform: uppercase;
  }
  @media #{$classicScreen} {
    font-size: .8em;
  }
  @media #{$classicPhone} {
    h1 {
      font-size: 1.5em;
    }
  }
}
