section#order {
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  h1 {
    font-size: 3.250em;
    font-weight: 900;
    margin-left: 5%;
    margin-bottom: 1.3em;
    text-transform: uppercase;
  }
  #follow-order-ask {
    p {
      font-size: 1.063em;
      line-height: 1.938em;
      margin-bottom: 5em;
    }
    form {
      margin-left: 15%;
      label {
        font-size: 1em;
      }
      input[type='text'] {
        display: block;
        appearance: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #343434;
        background-color: #FFF !important;
        font-size: 1.063em;
        padding-top: .3em;
        width: 30%;
        min-width: 180px;
        max-width: 250px;
      }
      input[type='submit'] {
        position: absolute;
        bottom: -5em;
        right: 0;
        margin-top: 5em;
      }
    }
  }
  #follow-order-response {
    h3 {
      margin-bottom: 2em;
      font-weight: bold;
    }
    h4 {
      font-size: .875em;
      display: inline-block;
      margin-right: 2em;
    }
    span {
      font-size: 1em;
      font-weight: bold;
    }
    .informations {
      td {
        display: inline-block;
        min-width: 180px;
        margin-top: 1.4em;
      }
    }
    .products {
      width: 90%;
      margin: 0 auto;
      margin-top: 3em;
      thead {
        border-bottom: 1px solid $black;
      }
      th {
        text-align: left;
        padding-bottom: 7px;
      }
      th:last-child,
      td:last-child {
        text-align: right;
      }
      tr {
        position: relative;
        border-bottom: 1px solid $black;
        &:last-child {
          border-bottom: none;
        }
      }
      td {
        font-size: 1.125em;
        font-weight: bold;
        padding: 3.5em 0 2.5em;
      }
      .price:after {
        content: '€'
      }
      .component__little-product {
        font-size: 1.125em;
        margin-left: 2em;
        display: inline-block;
        width: 45%;
        padding: 1.8em;
        .name {
          display: inline-block;
        }
      }
    }
    .controls {
      float: right;
    }
  }
  .hide {
    display: none;
  }
}
