<header>
  <% link_to uri_root_path do %>
    <%= image_tag('logo.svg', id: "logo") %>
  <% end %>
  <div class="snipcart-summary">
    <a href="#" class="snipcart-checkout">
      <span class="snipcart-checkout-icon"></span>
      <span class="snipcart-total-items">0</span>
    </a>
  </div>
</header>
