<header>
  <% link_to uri_root_path do %>
    <%= image_tag('logo.svg', id: "logo") %>
  <% end %>
  <div class="snipcart-summary">
    <a href="#" class="snipcart-checkout">
      <span class="snipcart-checkout-icon"></span>
      <span class="snipcart-total-items">0</span>
    </a>
  </div>
</header>

<nav>
  <ul>
    <% t('nav').each do |k, v| %>
      <li><%= link_to v, t('paths.' + k.to_s) %></li>
    <% end %>
  </ul>
</nav>
