<header>
  <%= link_to t("home-link"), uri_root_path %>
  <div class="snipcart-summary">
    <a href="#" class="snipcart-checkout">
      <span>
        View cart (<span class="snipcart-total-items">0</span>)
      </span>
    </a>
  </div>
</header>
