.snipcart__buy-button {
  outline: none;
  appearance: none;
  width: 18em;
  height: 2.75em;
  border: none;
  background-color: #FC5143;
  border-radius: 3em;
  font-size: 1.1em;
  transition: 0.2s;
  cursor: pointer;
  color: #FFF;
  margin-bottom: 3em;
  &:hover {
    box-shadow: inset 0 0 0 0.2em #fff, 0 0 0 0.2em #FC5143;
  }
  @media #{$classicTablet} {
    display: block;
    margin: 0 auto;
  }
}
