.snip-layout {
  background: #FFF;
  padding: 0;
  font-family: $primary-font!important;
  .snip-table {
    td, tr, th {
      border-bottom: none;
    }
    .snip-table__body {
      border-top: none;
    }
  }
  #snipcart-main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #snipcart-global-loader:before {
    background-color: $primary-color;
  }
  .snip-layout__main-container {
    max-width: none;
    height: 100%;
  }
  #snipcart-header {
    background: none;
    color: $black;
    text-transform: uppercase;
    width: 80%;
    margin: 2em auto 0;
    z-index: 2;
    #snipcart-title {
      font-size: 3.25em;
      font-weight: 900;
    }
  }
  #snipcart-items {
    #snipcart-items-header th {
      &:nth-child(2) {
        display: none;
      }
      &:nth-last-child(2) {
        color: $black!important;
        font-weight: 900;
      }
    }
  }
  #snipcart-items-list {
    .snip-table__item {
      border-bottom: 1px solid rgba(0,0,0,.17);
      padding-top: 1.5em;
      padding-bottom: 3em;
      td:first-child {
        background: $primary-gradient-invert;
        padding: 0;
        padding-right: 2em;
        float: right;
        width: 80%;
        .snip-product__thumbnail {
          transform: translateX(-50%);
          height: inherit;
          margin-right: inherit;
        }
        h2 {
          float: right;
          margin: 0;
          margin-top: 2em;
          transform: translate(5%, -50%);
        }
        p {
          display: none;
        }
      }
      td:nth-child(4),
      td:nth-child(5) {
        font-size: 1.125em;
        color: $black;
        font-weight: bold;
      }
    }
    .snip-customfields {
      display: none;
    }
  }
  #snipcart-sub-content {
    width: 70%;
    margin: 7em auto 0;
    position: absolute;
    top: 6.5em;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #snipcart-steps {
    width: 70%;
    margin: 0 auto;
    background: none;
    .snip-step__item {
      background: none;
      border: none;
      border-bottom: 2px solid $black;
      align-items: flex-end;
      padding-bottom: 8px;
      &.js-active {
        border-bottom: 2px solid $primary-color;
      }
      i {
        display: none;
      }
      p {
        display: block;
        text-transform: unset;
        font-size: 14px;
        width: 100%;
      }
    }
  }
  #snipcart-shippings-list {
    .snip-product--selectable-item {
      background: image_url("icons/checkbox.svg") no-repeat 0 top;
      &.js-selected {
        background-image: image_url("icons/checkbox-checked.svg")
      }
      p {
        color: $black;
        font-weight: 200;
        margin-top: 1em;
      }
    }
  }
  #snipcart-actions {
    width: 100%;
    border-top: none;
  }
  .snip-actions {
    .snip-btn {
      display: inline-block;
      outline: none;
      appearance: none;
      padding: .2em 1.75em;
      border: none;
      border-radius: 3em;
      transition: 0.2s;
      cursor: pointer;
      text-align: center;
      color: #FFF;
      transition: .2s;
    }
    .snip-btn--right {
      background-color: $primary-color;
      &:hover {
        box-shadow: inset 0 0 0 0.2em #fff, 0 0 0 0.2em $primary-color;
      }
    }
    .snip-btn--left {
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: $primary-color;
      color: $black;
    }
  }
  #snipcart-header-total {
    display: none!important;
  }
  .snip-quantity-trigger {
    justify-content: space-between;
    width: 80%;
    .snip-quantity-trigger__btn {
      background-color: #FFF;
      padding: 0;
      height: 1.5em;
      width: 1.5em;
    }
  }
  .snipcart-step {
    height: 100%;
    form {
      label {
        text-transform: capitalize;
        color: $black;
      }
      input[type="text"] {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid rgba(52, 52, 52, 35);
      }
    }
  }
  .snip-product__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #snipcart-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 1em;
    background-image: image_url('icons/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1400;
  }
  .snip-product__remove {
    color: inherit;
    padding-bottom: 8px;
    &:hover {
      color: red;
    }
    &:before {
      content: 'supprimer';
      font-size: .5em;
      font-weight: 200;
      font-family: $primary-font;
      transition: .2s;
    }
  }
  #snipcart-close i {
    display: none;
  }
  #snipcart-footer {
    display: none;
  }
  @media #{$classicTablet} {
    #snipcart-steps .snip-step__item {
      i {
        display: inline-block;
      }
      p {
        display: none;
      }
    }
    .snip-table__small-col {
      margin-top: 0;
    }
    .snip-product__remove {
      top: 0;
      right: 0;
    }
    .snip-quantity-trigger .snip-quantity-trigger__btn {
      background-position: center;
    }
    #snipcart-items-list .snip-table__item td:first-child {
      background: none;
      float: none;
      padding: 0;
      h2 {
        float: left;
      }
    }
    .snip-actions {
      #snipcart-previous,
      #snipcart-next {
        display: block;
        width: 100%;
      }
      #snipcart-next {
        margin-top: 1em;
      }
    }
  }
}
