<div id="bubble">
  <% link_to '#', class: "main-product" do %>
    <%= image_tag "products/sample.png" %>
  <% end %>
  <%= link_to 'Découvre notre créateur', t('paths.creator'), class: 'btn btn-outline btn-outline-white' %>
</div>
