<div id="concept">
  <h2><%= t('homepage.concept.name') %></h2>

  <% t('homepage.concept.description').each do |c| %>
    <div class="paragraph">
      <% c.each do |p| %>
        <p><%= p %></p>
      <% end %>
    </div>
  <% end %>

  <div class="bubbles-container">
    <div class="component__bubble bubble-1 left"></div>
    <div class="component__bubble bubble-2 right"></div>
  </div>

</div>
