<div id="informations">
  <% t('homepage.details').each do |d| %>
    <span><%= d %></span>
  <% end %>
  <span><%= mail_to "contact@capsule-bordeaux.fr", "contact@capsule-bordeaux.fr", class: "component__cool-link" %></span>
</div>
