<div id="informations">
  <% t('homepage.informations').each do |information| %>
    <span><%= information %></span>
  <% end %>
  <span><%= mail_to "contact@capsule-bordeaux.fr", "contact@capsule-bordeaux.fr", class: "component__cool-link" %></span>
</div>
